<p id="notice"><%= notice %></p>
<p>
  <strong>Nome:</strong>
  <%= @departamento.nome %>
</p>
<table class="table table-bordered table-hover">
  <thread>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Departamento</th>
      <th>Preço</th>
      <th>Quantidade</th>
      <th colspan="2">
      </tr>
    </thead>
    <tbody>
      <%= render @produtos_por_departamento %>
    </tbody>
  </table>
  <%= link_to 'Editar', edit_departamento_path(@departamento), class:"btn btn-default" %> |
  <%= link_to 'Voltar', departamentos_path, class:"btn btn-default" %>
